export(reset, resetViaPCA, resetForSeurat, createVarSetCollection, randomSVD, randomColumnSpace, 
       convertToPerVarScores, convertToPerVarScoresForSeurat)
importFrom("Matrix", "t", "qr", "qr.Q")
importFrom("methods", "slotNames", "is")
importFrom("stats", "rnorm", "runif", "rpois")
